#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.kq {
  position: fixed;
  inset: 0;                    
  background-image: url("/src/assets/kq.png");
  background-repeat: no-repeat; 
  background-position: left 8% bottom; 
  background-size: 512px auto; 
  image-rendering: pixelated;  
  z-index: -1;              
}

.kq::after {
  content: "";
  position: absolute;
  inset: 0;
   /* overlay */
}

.kqbg {
  position: fixed;
  inset: 0;
  z-index: -2;
  background-image: url('/src/assets/kqbg.png');
  background-repeat: no-repeat;
  background-size: 210vh 400vh;
  background-position: center;
  image-rendering: pixelated;
}

.mainCont {
  border-radius: 20px;
  background-color: bisque;
  padding: 30px;
}
