#root {
  max-width: 100%;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title {
  font-family: satoshi, sans-serif;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 20px;
  margin-right: 12vh; 
  margin-left: auto;
}
.outputP {
  padding-top: 10px;
  padding-bottom: 2px; 
  margin: 1px 0; 
  line-height: 1.2;
  font-family: satoshi, sans-serif;
  color: black;
  font-weight: 800;
  font-size: 14px;
}

.mainCont {
  border-radius: 7px;
  background-color: #0d0d0d;
  margin-right: 5vh; 
  padding: 30px;
  
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 15vh;
  margin-top: 9vh;
}

.blueOutput {
  background-color: rgb(255, 52, 52);
  border-radius: 7px;
  margin-top: 16px;
  padding: 10px;
}

.shadeOutput {
  background-color: rgb(180, 180, 180);
  border-radius: 7px;
  margin-top: 16px;
}


.bad{
  border: orange 3px solid;
}

.good {
  border: greenyellow 3px solid;
}
