.containerBankbuttons {
  display: flex;
  gap: 20px; 
  flex-wrap: wrap; 
  margin-top: 50px;
}

.buttonName {
  font-family: monospace;
  text-align: center;
  margin-top: 33px;
  font-size: 20px;
  color: black;
}